@model IEnumerable<Storage.Models.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Home</h1>

@using (Html.BeginForm(controllerName: "Products", actionName: "index", method: FormMethod.Get))
{

<div class=" row input-group mb-3">
    <div class="col-md-5">
        <input type="text" name="name" class="form-control" placeholder="Search on category" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
    <div class="col-md-5">
        @Html.DropDownList("drpCategories", new SelectList(ViewBag.Categories, "Value", "Text"), "Select Category", new { @class = "form-control" })
        </div>
        <div class="col-md-2 input-group-append">
            <button type="submit" class="btn btn-success" id="button-addon2">Search</button>
        </div>
    </div>
    }
<div class=" row input-group ">
    <div class="col-md-12">
        <table class=" table">

            <thead >
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Count)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InventoryValue)
                    </th>
                    <th class="float-lg-left"><a class="btn btn-primary float-lg-right" asp-action="Create">Create New</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InventoryValue)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
    @if (Model.Count() == 0)
    {
        <p class="text-center">No Result</p>}
